.field-control__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.field-control__input--opacity {
  color: rgba(0, 0, 0, 0.3);
}
