.field-control {
  padding: 0 20px;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.field-control__input {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  padding: 16px;
  width: 100%;

  &::placeholder {
    color: fade(#000000, 30%);
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: @tablet-width) {
    min-width: 295px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}
