.input {
  background-color: rgba(242, 242, 242, 1);
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.contacts__input {
  color: rgba(0, 0, 0, 0.3);
}
