.main-nav {
  @media (max-width: @mobile-width-only) {
    &:not(.main-nav--js) {
      order: -1;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;

    .main-nav--js & {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 64px;
      height: 56px;
      padding: 0;
      border: none;
      background: transparent url("../img/button-toggle-closed.svg") center / 23px 22px no-repeat;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .main-nav--js.main-nav--opened & {
      background-image: url("../img/button-toggle-opened.svg");
      z-index: 1;
    }
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    position: relative;
    background-color: @main-color;

    &::after {
      content: "";
      position: absolute;
      height: 7px;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      pointer-events: none;
    }

    .main-nav--js & {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    .main-nav--js.main-nav--opened & {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    &:hover {
      background-color: @main-hover;
    }

    &:active {
      background-color: @main-active;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    }

    & + .main-nav__item {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  @media (min-width: @tablet-width) {
    flex: 0 0 20%;

    &:nth-child(4n+3) {
      margin-left: 20%;
    }
  }
}

.main-nav__link {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  padding: 17px 64px 11px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 18px 20px 17px;

    &:hover {
      color: @main-color;
    }

    &:active {
      color: #b3b3b3;
    }

    &--active {
      color: #766357;
    }
  }
}
