.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px;
}

.main-footer__social {
  margin-bottom: 37px;
}

.main-footer__wrapper {
  padding: 33px 82px;
}

.main-footer__copyright-text {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
