.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.main-footer__social {
  margin-bottom: 37px;
}

.main-footer__wrapper {
  padding: 33px 82px;
}
