.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  padding: 0;
  border: 0;
  background-image: url("../img/button-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-nav__item {
  display: none;
  background-color: @main-color;
  padding: 17px 10px 12px 10px;
  margin: 0;
  width: 100%;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}
