.page-promo {
  background-image: url("../img/back-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @main-color;
  padding: 52px 45px;
  background-position: 50% 100%;
}
