.social {
  margin: 0;
  margin-bottom: 37px;
  display: flex;
  list-style: none;
  gap: 6px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 6px;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: @main-color;

  &:hover {
    background-color: @main-hover;
  }

  &:active {
    background-color: @main-active;
  }
}

.social__icon {
  margin: 12px;
  fill: #ffffff;

  &:active {
    opacity: 0.3;
  }
}
