.search {
  text-align: center;
  padding-bottom: 8px;
}

.search__wrapper {
  padding: 38px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    max-width: 458px;
    padding: 60px 20px 55px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.search__description {
  margin: 0;
  margin-bottom: 32px;
}

.search__button {
  display: block;
}
