.search {
  text-align: center;
  padding-bottom: 8px;
}

.search__wrapper {
  padding: 38px 18px 65px 18px;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 24px;
}

.search__description {
  margin: 0;
  margin-bottom: 48px;
}

.search__button {
  width: 100%;
}
