.services {
  margin: 0;
  padding: 24px 18px 18px 0;
  text-align: left;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

.services__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 8px 0 16px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-bottom: 22px;
  }
}

.services__description {
  margin: 0;

  @media (max-width: @tablet-width) {
    br {
      display: none;
    }
  }
}

.services__item {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-left: 65px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--residence::after {
    background-image: url("../img/house.svg");
  }

  &--food::after {
    background-image: url("../img/burger.svg");
  }

  &--souvenirs::after {
    background-image: url("../img/present.svg");
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    min-width: 256px;
    box-sizing: border-box;
    padding: 150px 44px 44px;
    margin: 0;

    &::after {
      width: 80px;
      height: 80px;
      top: 54px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--souvenirs {
      .services__title {
        padding-top: 4px;
      }

      &::after {
        top: 60px;
      }
    }

    &--food {
      .services__description {
        padding: 0 6px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 162px 50px 70px;

    &::after {
      top: 64px;
    }

    &--souvenirs {
      .services__title {
        padding-top: 8px;
      }
    }

    &--food {
      .services__title {
        padding-top: 4px;
        padding-bottom: 24px;
      }
    }
  }
}
