.services {
  margin: 0;
  padding: 24px 18px 28px 65px;
  text-align: left;
  list-style: none;
}

.services__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.services__description {
  margin: 0;
}
