.data-form {
  border: none;
  margin: 0;
  padding: 0;

  &:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid #e5e5e5;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }
}

.data-form__title {
  @media (min-width: @tablet-width) {
    width: 310px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 10;
    display: block;
    position: relative;
  }
}

.data-form--large {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 42px;
    position: relative;

    .data-form__legend {
      position: relative;
      width: 100%;

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: #dbdbdb;
        left: 0;
        top: 50%;
      }
    }
  }
}

.data-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 24px 0 20px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.data-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.data-form__list--radio {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    place-content: center;
    gap: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
    margin-bottom: 73px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    place-content: center;
    grid-column-gap: 28px;
    grid-row-gap: 36px;
  }
}

.data-form__list--checkbox {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    display: grid;
    grid-template-columns: repeat(2, 224px);
    place-content: center;
    grid-column-gap: 32px;
    grid-row-gap: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 44px;
    margin-bottom: 87px;
  }
}

.data-form__text {
  min-height: 150px;
  justify-items: stretch;
  margin-bottom: 56px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin-bottom: 48px;
  }
}

.data-form__icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    right: 20px;
    background: #e6e6e6 center no-repeat;

    @media (min-width: @tablet-width) {
      right: 0;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/phone.svg");
    }
  }

  &--mail {
    &::after {
      background-image: url("../img/mail.svg");
    }
  }
}
