.data-form {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.data-form__title {
  @media (min-width: @tablet-width) {
    width: 402px;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 10;
    display: block;
    position: relative;
  }
}

.data-form--large {
  padding: 22px 20px 0;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 32px;
    position: relative;
    padding: 20px 60px 0;

    .data-form__legend {
      position: relative;
      width: 100%;

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: #dbdbdb;
        left: 0;
        top: 50%;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 30px 120px 0;
  }
}


.data-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 21px;
    margin-bottom: 10px;
  }
}

.data-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border: none;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 72px;
  }
}

.data-form__list--radio {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    place-content: center;
    grid-column-gap: 16px;

    .field-checkbox__text {
      max-width: 185px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 6px;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    place-content: center;
    grid-column-gap: 28px;
    grid-row-gap: 36px;
  }
}

.data-form__list--checkbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 22px;

  .field-checkbox__text {
    max-width: 218px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 224px);
    place-content: center;
    grid-column-gap: 32px;

    .field-checkbox__text {
      max-width: 122px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: min-content;
    gap: 62px;
    margin-bottom: 44px;

    .field-checkbox__label {
      padding-right: 0;
      margin-left: 0;
    }
  }
}

.data-form__text {
  min-height: 150px;
  justify-items: stretch;
  margin: 0 0 48px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: block;
    min-height: 160px;
    margin: -4px 0 4px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: -10px;
  }
}

.data-form__icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    right: 20px;
    background: #e6e6e6 center no-repeat;

    @media (min-width: @tablet-width) {
      right: 0;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/phone.svg");
    }
  }

  &--mail {
    @media (max-width: @tablet-width) {
      margin-top: 10px;
      margin-bottom: -6px;
    }

    &::after {
      background-image: url("../img/mail.svg");
    }
  }
}
