.form-feedback {
  border-top: 1px solid #e5e5e5;
  position: relative;

  @media (min-width: @tablet-width) {
    border: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 58px;
  }

  @media (min-width: @desktop-width) {
    grid-column-gap: 100px;
  }
}

.form-feedback__sent--large {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }
}

.form-feedback__sent {
  padding: 0 20px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: flex;
    min-width: 648px;
    justify-content: space-between;
    margin-bottom: 64px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 216px;
    margin-top: 4px;
  }
}

.form-feedback__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.form-feedback__required-description {
  opacity: 0.6;
  display: block;
  text-align: right;
  font-size: 12px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    display: flex;
    padding-top: 22px;
    justify-content: end;
  }
}
