.photo__list {
  margin: 0;
  list-style: none;
  padding: 24px 20px 0 20px;
}

.photo__item {
  padding: 24px 0;
}

.photo__image {
  margin-bottom: 15px;
}

.photo__title {
  margin: 0;
}

.photo__author {
  text-transform: none;
  margin: 0;
  margin-bottom: 16px;
}

.photo__like {
  font-weight: 700;
  color: #000000;
}
