.video {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }
}

.video__section {
  padding: 17px 0 38px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 455px;

  @media (min-width: @tablet-width) {
    padding: 28px 0 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 0 64px;
  }
}

.video__image {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    height: 500px;
    max-width: 800px;
  }
}
