.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  width: 320px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
